{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h4>{{ hero.name }}</h4>
            {{ hero.persone_name|linebreaks }}
            {{ hero.powers|linebreaks }}
            {{ hero.powers_obj.name|linebreaks }}
            {% for image in hero.images %}
{#                {% for f in image.image.fs %}#}
{#                        {{ f|linebreaks }}#}
{#                {% endfor %}#}
                {{ image.name}}
                {{ image.image}}
                <img src="{{ image.image }}">
            {% endfor %}


            <div class="btn-group">
                <a href="{{ hero.get_edit_url }}" class="btn btn-primary">Edit</a>
                <a href="{{ hero.get_delete_url }}" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}

